{% extends "base.html" %}
{% block title %}Songs{% endblock %}

{% block content %}

  <div class="jumbotron">
      <h1>The <em>sick</em> tracks</h1>
      <p><a href="{% url 'new_song' %}">add a track</a></p>
  </div>

  {% for song in songs %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><strong>{{ song.track_name}}</strong> <em>by</em> {{ song.track_artist}}</h3>
      </div>
      <div class="panel-body">
        Album: {{ song.track_album}} | {{ song.track_genre}}
      </div>
    </div>

  {% endfor %}

{% endblock %}
